<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Amharic Audio Book</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.IsAuthenticated && Context.User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Amharic Audio Book", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (Request.IsAuthenticated && Context.User.IsInRole("User"))
                {
                    @Html.ActionLink("Amharic Audio Book", "Index", "My", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Amharic Audio Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @if (Request.IsAuthenticated && Context.User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Book", "Book", "Dashboard")
                        }
                        else if (Request.IsAuthenticated && Context.User.IsInRole("User"))
                        {
                            @Html.ActionLink("Book", "Index", "My")
                        }
                        else
                        {
                            @Html.ActionLink("Book", "Index", "Book")
                        }
                    </li>
                    <li>
                        @if (Request.IsAuthenticated && Context.User.IsInRole("Administrator"))
                        {
                            @Html.ActionLink("Genre", "Genre", "Dashboard")
                        }
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Amharic Audio Book</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
